/* this is a comment */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: pink;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
    color: pink;
    background-color: rgb(3, 121, 115);
    font-size: 50px;
    text-align: center;
    margin: 10px;
    padding: 10px; 
}
img {
    display: flex;
    padding: 20px;
    border: 10px solid rgb(3, 121, 115);
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
    box-shadow: 0 0 10px rgb(3, 121, 115);
    transition: transform 0.3s ease;
}
h4 {
    color: rgb(3, 121, 115);
    background-color: pink !important;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 0;
}
#main {
    color: pink;
    background-color: rgb(3, 121, 115);
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 0;
}
.main {
    color: pink;
    background-color: purple;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 0;
}
#list {
    color: rgb(3, 121, 115);
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    padding: .5px;
    margin: 0;
}
.list {
    color: rgb(3, 121, 115);
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    list-style: disc;
    padding: .5px;
    margin: 0;
}
p {
    color: purple;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}



button {
    background-color: rgb(3, 121, 115);
    color: pink;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    border: red;
    cursor: pointer;
    border-style: dotted;
}